* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-bg: #232325;
    --container-bg: #e8e3da;
    --body-text-color: #0a0a0a;
    --hint: var(--body-bg);
}

html, body {
    height: 100%;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: var(--body-bg);
    color: var(--body-text-color);
    font-size: 1.25rem;
    font-weight: 500;
}

canvas {
   display: none;
}

kbd {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hint);
    color: var(--container-bg);
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.hint-container {
    padding: 0.25rem 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: center;
    background-color: var(--container-bg);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    max-width: 600px;
}

